/* HTML AND BACKGROUND .................. */

body {
  background: url("tree.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* nav bar  .................. */

.navbar {
  /*background: transparent;*/
background: black;
color:white;
border: 0px;
height: 40px;
@import font-family: 'Abel', sans-serif;
}


/* logo and social media  .................. */


.logo {
  /*margin-top: 200px;*/
  color:black;
  font-size: 42px;
  font-weight: lighter;
  font-family: sans-serif;
  letter-spacing: 8px;
  /*background: yellow;*/
}

.social-media {
  /*margin-top: 200px;*/
  color:black;
  font-size: 22px;
  font-weight: lighter;
  font-family: sans-serif;
  letter-spacing: 4px;
  padding-left: 200px;
  padding-right: 200px;
  /*background: yellow;*/
}


img {
color:white;
}


  /* footer four cats .................. */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 175px;
  background: black;
  text: white;
}


.footertext {
  color: white;
  letter-spacing: 2px;
  font-size: 16px;
  font-family: sans-serif;
}

.footerfour {

}




/* unvisited link */
a:link {
    text-decoration: none;
}

/* visited link */
a:visited {
    text-decoration: none;
}

/* mouse over link */
a:hover {
    text-decoration: none;
}

/* selected link */
a:active {
    text-decoration: none;
}
