/* HTML AND BACKGROUND .................. */

body {
  background: url("cloud.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* nav bar  .................. */

.navbar {
  /*background: transparent;*/
background: black;
color:white;
border: 0px;
height: 40px;
@import font-family: 'Abel', sans-serif;
}


/* logo and social media  .................. */

.lead {
font-size: 14px;
 /*text-align: justify;*/
}

strong {
color: gray;
}

.logo {
  /*margin-top: 200px;*/
  color:white;
  /*color:black;*/
  font-size: 42px;
  font-weight: lighter;
  font-family: sans-serif;
  letter-spacing: 8px;
  /*background: yellow;*/
}

.social-media {
  /*margin-top: 200px;*/
  color:black;
  font-size: 22px;
  font-weight: lighter;
  font-family: sans-serif;
  letter-spacing: 4px;
  padding-left: 200px;
  padding-right: 200px;
  /*background: yellow;*/
}


img {
color:white;
}


  /* footer four cats .................. */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 135px;
  background: black;
  text: white;
  /*background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(19,19,19,1) 71%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(71%,rgba(19,19,19,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(19,19,19,1) 71%);
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(19,19,19,1) 71%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(19,19,19,1) 71%);
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(19,19,19,1) 71%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#131313',GradientType=0 );*/

}


.footertext {
  color: white;
  letter-spacing: 2px;
  font-size: 16px;
  font-family: sans-serif;
}

.footerfour {

}




/* unvisited link */
a:link {
    text-decoration: none;
}

/* visited link */
a:visited {
    text-decoration: none;
}

/* mouse over link */
a:hover {
    text-decoration: none;
}

/* selected link */
a:active {
    text-decoration: none;
}
