/* HTML AND BACKGROUND .................. */

html {
  background: url("back.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* nav bar  .................. */

.navbar {
background: black;
color:white;
border: 0px;
height: 40px;
@import font-family: 'Abel', sans-serif;
}


/* logo and social media  .................. */




  /* footer four cats .................. */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 175px;
  background: black;
  text: white;
}


.footertext {
  color: white;
}

.footerfour {

}
